bin/Release
bin/Debug
**/bin/Release
**/bin/Debug
**/Aardvark.log
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/bin/citest-feed
/src/.vs
/paket-files
/.fake
/.paket
/Aardvark.log
/.vs/**
/hera
/logs
/src/PRo3D.SPICE.RenderingDemo/*.user
